{% extends 'ta_logistics_application/base.html' %}

{% block content %}
    <div class="page-header">
        <div class="jumbotron">
            <h2>{{ selected_class }} - Application for {{ request.user }}</h2>
        </div>
        <div class="footnotes">

            <form method="post" action ="{% url 'student_status' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
