{% extends 'ta_logistics_application/base.html' %}

{% block content %}
    <div class="row">
        <div class="jumbotron">
            <h2>Class List</h2>
        </div>
    </div>

{% if class_list %}
    <div class = "row">
        <p> Select a class from the dropdown menu and then click the next button to apply for that class.</p>
        {% if error_message %}
            <p style="color: red">{{ error_message }}</p>
        {% endif %}
        <form method="post" id="button_form">
            {% csrf_token %}
            <div class="form-group">
                <label for="class-select">Class list:</label>
                <select class="form-control" name="selected_class">
                    {% for class in class_list %}
                         <option value={{ class.id }}> {{class.class_listing_id }} - {{ class.class_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Apply to Selected Class</button>
        </form>
    </div>
{% endif %}

{% endblock %}
