{% extends 'ta_logistics_application/base.html' %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/student_index.js"></script>
{% endblock %}

{% block content %}
    <div class="row page-header">
        <div class="jumbotron">
            <h2>Current Applications</h2>
        </div>
    </div>

{% if applied_classes %}
    {% if pending_offer %}
        <div class="row">
            <h3>Pending Offers</h3>
            <form id="button_form" method="post">
                {% csrf_token %}
                <div class="table-responsive">
                    <table class = "table" id="offers_table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Class ID</th>
                                <th>Application Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for class in applied_classes %}
                                {% if class.pending_offer %}
                                    <tr>
                                        <td><input name="class_{{ class.id }}" value="" class="select-class" type="checkbox"/></td>
                                        <td>{{ class.class_id}}</td>
                                        <td>{{ class.application_status}}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    <br>
                    <button class="btn btn-success" type="submit" form="button_form" name="accept">Accept Offer</button>
                    <button class="btn btn-danger" type="submit" form="button_form" name="decline">Decline Offer</button>
               </div>
            </form>
        </div>
    {% endif %}
    <div class="row">
        <h3>Applications</h3>
        <div class="table-responsive">
            <table class = "table" id="applications_table">
                <thead>
                    <tr>
                        <th>Class ID</th>
                        <th>Application Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for class in applied_classes %}
                        <tr>
                            <td>{{ class.class_id}}</td>
                            <td>{{ class.application_status}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
       </div>
    </div>
{% else %}
    <p>You haven't applied to any classes yet. When you do they will show up here.</p>
{% endif %}
    <a href="{% url 'student_class_list' %}" class="btn btn-primary">Apply for a Class</a>
    <div></div>
{% endblock %}

