{% extends 'ta_logistics_application/base.html' %}

{% block content %}
    <div class="page-header">
        <div class="jumbotron">
            <h2>Applicants</h2>
        </div>
        <div>
            {% if course_applicants %}
                <table class = 'table'>
                    <thead>
                        <tr>
                            {% for header in column_headers %}
                                <th>{{ header }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for applicant in course_applicants %}
                        <tr>
                            {% for key, value in applicant %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No courses yet</p>
            {% endif %}
            <a href="{% url 'professor_create_course' %}" class="btn btn-primary">Create New Course</a>
        </div>
    </div>
{% endblock %}
