{% extends 'ta_logistics_application/base.html' %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/professor_index.js"></script>
{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="jumbotron">
            <h2>Current Classes</h2>
            <p>username = {{request.user }}</p>
            <p> user id = {{request.user.id }}</p>
        </div>
        <div>
            {% if current_class_list %}
                <table class = 'table display' id="professor_class_table">
                    <thead>
                        <tr>
                            <th>Class ID</th>
                            <th>Class Name</th>
                            <th>Number of applicants</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for class in current_class_list %}
                        <tr>
                            <td><a href="{% url 'professor_class_applicants'%}?class_id={{ class.id }}">{{ class.class_listing_id }}</a></td>
                            <td>{{ class.class_name }}</td>
                            <td>{{ class.applicant_count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No classes yet</p>
            {% endif %}
            <a href="{% url 'professor_create_class' %}" class="btn btn-primary">Create New Class</a>
        </div>
    </div>
{% endblock %}
