{% extends 'ta_logistics_application/base.html' %}

{% block content %}
    <div class="page-header">
        <div class="jumbotron">
            <h2>Current Courses</h2>
        </div>
        <div>
            {% if current_course_list %}
                <table class = 'table'>
                    <thead>
                        <tr>
                            <th>Course ID</th>
                            <th>Course Name</th>
                            <th>Number of applicants</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for course in current_course_list %}
                        <tr>
                            <td><a href="{% url 'professor_course_applicants'%}?course_id={{ course.id }}">{{ course.course_listing_id }}</a></td>
                            <td>{{ course.course_name }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No courses yet</p>
            {% endif %}
            <a href="{% url 'professor_create_course' %}" class="btn btn-primary">Create New Course</a>
        </div>
    </div>
{% endblock %}
