{% extends 'ta_logistics_application/base.html' %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/professor_class_applicants.js"></script>
{% endblock %}

{% block content %}
    <!-- WE NEED TO PUT THIS IN MAIN.JS  SOMEHOW!!!!!-->
    <script type="text/javascript" language="javascript" class="init">
    $( document ).ready( function () {

        function format(d) {
            // `d` is the original data object for the row
            var secondary_table = '<table class="table">' +
                    '<tr>' +
                        '<td><b>Personal Statement</b></td>' +
                    '</tr>' +
                    '<tr>' +
                        '<td>' + d[d.length-2] + '</td>' +
                    '</tr>' +
                    '<tr>' +
                        '<td><b>Resume</b></td>' +
                    '</tr>' +
                    '<tr>' +
                        '<td id="resume_view">' +
                            '<embed width="90%" height="1000" src="{{ MEDIA_URL }}/media/' +
                                d[d.length-1] + '">' +
                        '</td>' +
                        '<td id="resume_link" style="display: none;">' +
                            '<a class="button" href="{{ MEDIA_URL }}/media/' + d[d.length-1] + '">' +
                                'View Resume' +
                            '</a>' +
                        '</td>' +
                    '</tr>' +
                    '</table>';
            return secondary_table;
        }

        var table = $('#professor_applicants_table').DataTable({
            paging: false,
            info: false,
            searching: false,
            order: [[ 2, "desc" ]],
            aoColumnDefs: [
                {
                    'bSortable': false,
                    'aTargets' : [ 0, 1 ]
                }
            ],
            columnDefs: [
                { width: 100, targets: 0 }
            ],

        });

        $('#professor_applicants_table tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child(format(row.data())).show();
                 if( $(window).width() >= 992 ) {
                    $('#resume_view').show();
                    $('#resume_link').hide();
                }
                if( $(window).width() < 992 ) {
                    $('#resume_view').hide();
                    $('#resume_link').show();
                }
            }
        });
    });

    </script>
    <div class="page-header">
        <div class="jumbotron">
            <h2>Applicants</h2>
        </div>
        <div>
            {% if main_student_data %}
            <form id="button_form" method="post">
                {% csrf_token %}
                <div id="long_table">
                    <table class="table display" id="professor_applicants_table">
                        <thead>
                            <tr role="row">
                                <th class="details-control">+/-</th>
                                <th><input name="select_all" value="1" id="select-all" type="checkbox" /></th>
                                {% for key, value in main_student_data.0.items %}
                                    {% ifnotequal key "secondary_student_data" %}
                                        <th>{{ key }}</th>
                                    {% else %}
                                        {% for k, v in value.items %}
                                           <th style="display:none;">{{ k }}</th>
                                        {% endfor %}
                                    {% endifnotequal %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for applicant in main_student_data %}
                                <tr>
                                    <td class=" details-control"></td>
                                    <td><input name="ubit_{{ applicant.ubit_name }}" value="" class="select-applicant" type="checkbox" /></td>
                                    {% for key, value in applicant.items %}
                                        {% ifnotequal key "secondary_student_data" %}
                                            <td>{{ value }}</td>
                                        {% else %}
                                            {% for k, v in value.items %}
                                                <td style="display:none;">{{ v }}</td>
                                            {% endfor %}
                                        {% endifnotequal %}
                                    {% endfor %}

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit" form="button_form" name="interview">Interview Selected</button>
                    <button class="btn btn-success" type="submit" form="button_form" name="hired">Hire Selected!</button>
                    <button class="btn btn-info" type="submit" form="button_form" name="wait_listed">Wait List Selected</button>
                    <button class="btn btn-danger" type="submit" form="button_form" name="reject">Reject Selected</button>
                </div>
            </form>
            {% else %}
                <p>No Applicants Yet</p>
            {% endif %}
        </div>
    </div>
{% endblock %}