{% extends 'ta_logistics_application/base.html' %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/professor_index.js"></script>
{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="jumbotron">
            <h2>Current Classes</h2>
        </div>
        <div>
            {% if current_class_list %}
            <form id="button_form" method="post">
                <table class = 'table display' id="professor_class_table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Class ID</th>
                            <th>Class Name</th>
                            <th>Number of applicants</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for class in current_class_list %}
                        <tr>
                            <td><input name="class_{{ class.id }}" value="" class="select-class" type="checkbox" /></td>
                            <td><a href="{% url 'professor_class_applicants'%}?class_id={{ class.id }}">{{ class.class_listing_id }}</a></td>
                            <td>{{ class.class_name }}</td>
                            <td>{{ class.applicant_count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button class="btn btn-success" type="submit" form="button_form" name="set_active">Make Active</button>
                <button class="btn btn-info" type="submit" form="button_form" name="set_inactive">Make Inactive</button>
            </form>
            {% else %}
                <p>No classes yet</p>
            {% endif %}
            <a href="{% url 'professor_create_class' %}" class="btn btn-primary">Create New Class</a>
        </div>
    </div>
{% endblock %}
